# Data Science Tools and Ecosystem

In this notebook you will understand data science tools and ecosystem.

Popular languages Data Scientists use are:
1. Python
2. R
3. SQL

Commonly used libraries in Data Science are: 
1. Panda
2. NumPy
3. Matplotlib

| Data Science Tools |
| ---- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### See below for examples of arithmetic expressions in Python.

In [3]:
"This arithmetic expression is to multiply then add integers."
(3*4)+5

17

In [4]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

**Objectives**
* Popular languages for Data Science
* Common libraries
* Developmental Environments

## Author
Crystal Muranda